<h1>Selamat Datang dalam Kegerakan Marketplace, <%=@register.last_name %> !</h1>

<p>
  Untuk menyelesaikan registrasi, silahkan melakukan pembayaran investasi acara. Pembayaran dapat dilakukan dengan cara transfer bank ke:
</p> <br>

<p><strong>046.1818.802 Bank Central Asia an. Santi M</strong></p>
<br><p>Untuk informasil lebih lanjut dapat menghubungi</p>
<p><strong>0813 9157 2724 - Tami</strong></p>
