<h1>Selamat Datang dalam Kegerakan Marketplace, <%=@register.last_name %> !</h1>

<p>
  Untuk menyelesaikan registrasi, silahkan melakukan pembayaran investasi acara. Pembayaran dapat dilakukan dengan cara transfer bank ke:
</p> <br>

<p><strong>Bank Central Asia</strong></p>
