<div class="jumbotron" >
        <div align="center" style="background-color:rgba(255,255,255,0.64);">
            <h1>Tentang kami </h1>
            <p></p><br>
        </div>
    </div>
<div class="container head-article" style="background-color:#ffffff;margin-top:-109px;">
        <h1>Firebiz Movement</h1>
        <p>Kegerakan Firebiz dilatarbelakangi oleh kerinduan untuk melengkapi para profesional muda untuk berdampak, 
                bukan hanya berdampak bagi marketplace, tempat dimana Tuhan tempatkan kita untuk bekerja. Namun menggunakan marketplace sebagai bentuk dedikasi kita kepada Tuhan dan bangsa! Sehingga melalui pekerjaan dan bisnis kita, 
                kita bersama membangun jejaring untuk membangun bangsa!<br>
                Di Firebiz, kita akan dilengkapi menjadi praktisi yang memiliki kehidupan yang seimbang, kehidupan bisnis yang maksimal, memiliki 
                keluarga yang sehat secara hubungan dan finansial dan memiliki tujuan yang jelas dalam mengambil keputusan bisnis.</p>
    </div>
    <div>
        <div class="container">
            <div class="row" >
                <div class="col-md-4">
                    <div class="card">
                        <h2>Our DNA</h2>
                        <ul class="card-text list-value">
                            <li>Pembapaan</li>
                            <li>Pemberdayaan</li>
                            <li>Persaudaraan</li>
                            <li>Kebangsaan</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <h2>Vision</h2>
                        <p class="lead" align="center">Menjadi komunitas pebisnis dan profesional muda kristiani yang membangun Indonesia 
                                jaya dan makmur sejahtera seutuhnya. </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <h2>Our Value</h2>
                        <ul class="card-text list-value">
                            <li>Faith in God</li>
                            <li>Implement the Kingdom mandate</li>
                            <li>Radically loving each other</li>
                            <li>Ensthusiasm to build the strong family</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>    