<div class="jumbotron">
  <div class="container header">
    <h2>God's Kingdom in the Marketplace Transformation</h2>
    <h3>Change the marketplace to change the world</h3><br>
    <%= link_to "Register now", new_register_path , class: "btn btn-danger btn-lg btn-xlarge" %>
  </div>
</div>