<div class="jumbotron" >
    <div align="center" style="background-color:rgba(255,255,255,0.64);">
        <h1>Speakers </h1>
        <p>Firebiz memiliki pembicara yang bergerak dalam praktisi bisnis dan telah menjadi berkat bagi pada entrepreneur di Indonesia</p><br>
    </div>
</div>
<div style="margin-top:-109px;background-color:#ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="speakers-card">
                    <div align="center">
                        <h3>Benny Santoso M. Com. CFP&reg; QWP&trade;</h3>
                        <%= image_tag("benny.png", class: "speakers-image", :alt => "Benny", :size => "100x100") %>
                    </div>
                    <div>
                        <p>Papah dari 3 anak, saat ini Benny berfokus pada keluarga dan financial. Owner dari Uangpedia&reg; dan True Parenting
                            <ul>
                                <li>Lulus 1994 Ir Teknik Informatika</li>
                                <li>Lulus 1997 M. Com dari UNSW, Sydney</li>
                                <li>2009 Certified Financial Planner</li>
                                <li>2010 Qualify Wealth Planner</li>
                                <li>Owner Uangpedia&reg; (www.uangpedia.com)</li>
                                <li>Owner True Parenting (www.trueparenting.co.id)</li>
                                <li>Owner True Parenting Personality Test(www.tppt.co.id)</li>
                            </ul>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="speakers-card">
                    <div align="center">
                        <h3>Cornelius Wing</h3>
                        <%= image_tag("ko-wing.png", class: "speakers-image", :alt => "Cornelius Wing", :size => "100x100") %>
                    </div>
                    <div>
                        <p>Lahir di Salatiga, 23 November 1967
                                Saat ini bersama dengan istrinya, Yoke, tinggal di Kota Brebes, Jawa Tengah
                                <ul>
                                    <li>Sebagai Komisaris di PT. Adika Dwikarya Utama</li>
                                    <li>Sebagai Founder sekaligus Dewan Pembina pergerakan kebangsaan Indonesia Sejahtera (ISRA)</li>
                                    <li>Sebagai Advisor dari Yayasan Tangan Pengharapan (YTP)</li>
                                    <li>Sebagai Dewan Elder Nasional “Excellent Leader Training” (ELT) Indonesia</li>
                                </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="speakers-card">
                    <div align="center">
                        <h3>J. Wendra Lea</h3>
                        <%= image_tag("wendra.png", class: "speakers-image", :alt => "Wendra", :size => "100x100") %>
                    </div>
                    <div>
                        <p>Lulusan S1 Teknik Elektro, 
                                Universitas Kristen Satya Wacana Salatiga (1989 – 1994)
                                <ul>
                                    <li>Founder & President Director PT. Password Solusi Sistem  (2010 - present)</li>
                                    <li>Founder & President Director PT. Password Ritel Sistem Indonesia (2011 - present)</li>
                                    <li>Founder & President Director PT. Festino Indonesia (2013 - present)</li>

                                </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="speakers-card">
                    <div align="center">
                        <h3>Heading</h3><img style="background-position:center;"></div>
                    <div>
                        <p>Paragraph</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>