<div class="container">
    <footer class="footer">
    <small> Copyright &copy; <a href="http://gbipcw.org">GBI PCW</a> by <a href="http://www.instagram.com/yoshua_victor">Yoshua Victor</a></small>
    <nav>
        <ul>
            <li><%= link_to "About", pages_about_path %></li>
        </ul>
    </nav>
</div>
